<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    {% load static %}

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
        <!--
        CSScss/linearicons.css
        ============================================= -->
        <link rel="stylesheet" href="/static/css-index/linearicons.css">
        <link rel="stylesheet" href="../static/css-index/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css-index/bootstrap.css">
        <link rel="stylesheet" href="../static/css-index/magnific-popup.css">
        <link rel="stylesheet" href="../static/css-index/nice-select.css">							
        <link rel="stylesheet" href="../static/css-index/animate.min.css">
        <link rel="stylesheet" href="../static/css-index/jquery-ui.css">			
        <link rel="stylesheet" href="../static/css-index/owl.carousel.css">
        <link rel="stylesheet" href="../static/css-index/main.css">
        <title>{% block title %} Page de Garde{% endblock %}</title>

    </head>
    <body>	
          <header id="header" id="home">
              <div class="header-top">
                  <div class="container">
                      <div class="row align-items-center">
                          <div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
                            <a href="{% url 'core:intro' %}">
                                <h2>PHarM<span style="color: #67bc00;">App</span></h2>
                            </a>
                        </div>
                          <div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
                            <a class="btns" href="tel:+225 782 188 38">+225 782 188 38</a>
                              <a class="btns" href="mailto:dgcdorgeles@outlook.fr">dgcdorgeles@outlook.fr</a>		
                              <a class="icons" href="tel:+225 782 188 38">
                                  <span class="lnr lnr-phone-handset"></span>
                              </a>
                              <a class="icons" href="mailto:dgcdorgeles@outlook.fr">
                                  <span class="lnr lnr-envelope"></span>
                              </a>		
                          </div>
                      </div>			  					
                  </div>
            </div>
            <div class="container main-menu">
                <div class="row align-items-center justify-content-between d-flex">
                  <nav id="nav-menu-container">
                    <ul class="nav-menu">
                      <li class="menu-active"><a href="#">Gestion Inventaire</a></li>
                      <li><a href="#">Gestion Vente</a></li>
                      <li><a href="#">contact</a></li>
                      {% if user.username %}

                      <li><a href="#">Hi, {{request.user.username}}</a></li>
                      <li><a href="#">Deconnexion</a></li>	
                      {% else %}       
                      <li><a href="{% url 'core:connexion' %}">Se connecter</a></li>				          	          
                      {% endif %}

                    </ul>
                  </nav><!-- #nav-menu-container -->
                  <div class="menu-social-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>	    		
                </div>
            </div>
          </header><!-- #header -->
          {% block content %}

        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen d-flex justify-content-center align-items-center">
                    <div class="banner-content col-lg-9 col-md-12 justify-content-center">
                        <h6 class="text-uppercase">Bonjour et bienvenue</h6>
                        <h1>
                           Inventaire Pharmacie			
                        </h1>
                        <p class="text-white mx-auto">
                            If you are looking at blank cassettes on the web, you may be very confused at the difference in price.  You may be saying to yourself.
                        </p>
                        <a href="#" class="primary-btn header-btn text-uppercase mt-10">Commencer Maintenant</a>
                        <a href="#" class="primary-btn header-btn text-uppercase mt-10">A propos</a>

                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->

        <!-- Start open-hour Area -->
        <section class="open-hour-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 open-hour-wrap">
                        <h1>Opening Hours</h1>
                        <p>
                            Get ready to cast your vote and select the right one
                        </p>
                        <a class="open-btn" href="#"> <span class="circle"></span>We are open Now</a>
                        <div class="date-list d-flex flex-row justify-content-center">
                            <ul class="colm-1">
                                <li>Monday - Friday</li>
                                <li>Saturday</li>
                                <li>Sunday</li>
                            </ul>
                            <ul class="colm-2">
                                <li><span>:</span>   10:00am to 05:00pm</li>
                                <li><span>:</span>   12:00am to 03:00pm</li>
                                <li><span>:</span>   closed</li>
                            </ul>								
                        </div>
                    </div>
                </div>
            </div>	
        </section>
        <!-- End open-hour Area -->
        
        
    
        <!-- Start home-about Area -->
        <section class="home-about-area section-gap relative">			
            <div class="container">
                <div class="row align-items-center justify-content-end">
                    <div class="col-lg-6 no-padding home-about-right">
                        <h1 class="text-white">
                            Who we are <br>
                            to Serve the nation
                        </h1>
                        <p>
                            inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
                        </p>
                        <div class="row no-gutters">
                            <div class="single-services col">
                                <span class="lnr lnr-diamond"></span>
                                <a href="#">
                                    <h4 class="text-white">Expert Services</h4>
                                </a>
                                <p>
                                    Usage of the Internet is becoming more common due to rapid advancement of technology.
                                </p>
                            </div>
                            <div class="single-services col">
                                <span class="lnr lnr-phone"></span>
                                <a href="#">
                                    <h4 class="text-white">Great Support</h4>
                                </a>
                                <p>
                                    Usage of the Internet is becoming more common due to rapid advancement of technology.
                                </p>
                            </div>								
                        </div>
                    </div>
                </div>
            </div>	
        </section>
        <!-- End home-about Area -->

    
        <!-- Start team Area -->
        <section class="team-area section-gap" id="team">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-70 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Our Consultants</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center d-flex align-items-center">
                    <div class="col-lg-3 col-md-6 single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="../static/image/t1.jpg" alt="">
                            <div class="align-items-end justify-content-center d-flex">
                                <p>
                                    inappropriate behavior
                                </p>
                                <h4>Andy Florence</h4>		                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="../static/image/t2.jpg" alt="">
                            <div class="align-items-end justify-content-center d-flex">
                                <p>
                                    inappropriate behavior
                                </p>
                                <h4>Andy Florence</h4>		                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="../static/image/t3.jpg" alt="">
                            <div class="align-items-end justify-content-center d-flex">
                                <p>
                                    inappropriate behavior
                                </p>
                                <h4>Andy Florence</h4>		                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 single-team">
                        <div class="thumb">
                            <img class="img-fluid" src="../static/image/t4.jpg" alt="">
                            <div class="align-items-end justify-content-center d-flex">
                                <p>
                                    inappropriate behavior
                                </p>
                                <h4>Andy Florence</h4>		                            
                            </div>
                        </div>
                    </div>		                		                		                
                </div>
            </div>
        </section>
        <!-- End team Area -->		

        <!-- Start feature Area -->
        <section class="feature-area section-gap">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">Features that make us unique</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>							
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature d-flex flex-row">
                            <div class="icon">
                                <span class="lnr lnr-rocket"></span>
                            </div>
                            <div class="details">
                                <h4>24/7 Emergency</h4>
                                <p>
                                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature d-flex flex-row">
                            <div class="icon">
                                <span class="lnr lnr-heart-pulse"></span>
                            </div>
                            <div class="details">
                                <h4>Expert Consultation</h4>
                                <p>
                                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature d-flex flex-row">
                            <div class="icon">
                                <span class="lnr lnr-chart-bars"></span>
                            </div>
                            <div class="details">
                                <h4>X-Ray Service</h4>
                                <p>
                                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                                </p>
                            </div>
                        </div>
                    </div>												
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature d-flex flex-row">
                            <div class="icon">
                                <span class="lnr lnr-paw"></span>
                            </div>
                            <div class="details">
                                <h4>Dental Science</h4>
                                <p>
                                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature d-flex flex-row">
                            <div class="icon">
                                <span class="lnr lnr-bug"></span>
                            </div>
                            <div class="details">
                                <h4>Intensive Care</h4>
                                <p>
                                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-feature d-flex flex-row">
                            <div class="icon">
                                <span class="lnr lnr-users"></span>
                            </div>
                            <div class="details">
                                <h4>Family Planning</h4>
                                <p>
                                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct women face higher conduct.
                                </p>
                            </div>
                        </div>
                    </div>							
                </div>
            </div>	
        </section>
        <!-- End feature Area -->

        {% endblock %}
    

        <!-- start footer Area -->		
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  col-md-6">
                        <div class="single-footer-widget">
                            <h2 style="color: white">PHarM<span style="color: #67bc00;">App</span></h2>
                            <ul class="footer-nav">
                                <li><a class="btns" href="tel:+225 782 188 38">+225 782 188 38</a></li>
                                <li><a class="btns" href="dgcdorgeles@outlook.fr">dgcdorgeles@outlook.fr</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4  col-md-6 text-center">
                        <div class="single-footer-widget mail-chimp">
                            <h6 class="mb-20">Liens rapides</h6>
                            
                            <p>   <a href="#">Evenements</a> </p>
                            <p>   <a href="{% url 'core:enregistrement' %}">Enregistrez vous</a>	</p>
                            <p>   <a href="{% url 'core:connexion' %}">Connexion</a></p>
                            <p>   <a href="#">Termes et conditions</a> </p>

                    
                        </div>
                    </div>
                    <!--faire le backend de newsletter-->							
                    <div class="col-lg-6  col-md-12">
                        <div class="single-footer-widget newsletter">
                            <h6>Newsletter</h6>
                            <p>You can trust us. we only send promo offers, not a single spam.</p>
                            <div id="mc_embed_signup">
                                <form target="_blank" novalidate="true" action="" method="get" class="form-inline">

                                    <div class="form-group row" style="width: 100%">
                                        <div class="col-lg-8 col-md-12">
                                            <input name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" required="" type="email">
                                            <div style="position: absolute; left: -5000px;">
                                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                            </div>
                                        </div> 
                                    
                                        <div class="col-lg-4 col-md-12">
                                            <button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
                                        </div> 
                                    </div>		
                                    <div class="info"></div>
                                </form>
                            </div>		
                        </div>
                    </div>					
                </div>

                <div class="row footer-bottom d-flex justify-content-between">
                    <p class="col-lg-8 col-sm-12 footer-text m-0">
                            Pharmabonon | Designed by Dje Bi Gauley
                             <i class="fa fa-heart-o" aria-hidden="true"></i> 
                             by 
                             <a href="#" target="_blank">Paracletos</a>
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End footer Area -->

        <script src="../static/js_index/vendor/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="../static/js_index/vendor/bootstrap.min.js"></script>			
          <script src="../static/js_index/easing.min.js"></script>			
        <script src="../static/js_index/hoverIntent.js"></script>
        <script src="../static/js_index/superfish.min.js"></script>	
        <script src="../static/js_index/jquery.ajaxchimp.min.js"></script>
        <script src="../static/js_index/jquery.magnific-popup.min.js"></script>	
         <script src="../static/js_index/jquery-ui.js"></script>			
        <script src="../static/js_index/owl.carousel.min.js"></script>						
        <script src="../static/js_index/jquery.nice-select.min.js"></script>							
        <script src="../static/js_index/mail-script.js"></script>	
        <script src="../static/js_index/main.js"></script>	
    </body>
</html>