<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Page de Garde{% endblock %}</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                         
               </i> 
                <div class="col-md-3 col-xs-12">
                    <div class="logo">
                        <h2>Phrce Bonon</h2>
                    </div>
                </div>
                <nav class="col-md-9 col-xs-12">
                    <ul class="nav-list">
                        <li class="list"> <a href="#">Gestion Inventaire</a> </li>
                        <li class="list"> <a href="#">Gestion Vente</a></li>
                        <li class="list"> <a href="#">Contact</a></li>
                        {% if user.username %}
                        <li class="list"> <a href="#">Hi, {{request.user.username}}</a></li>
                        <li class="list"> <a href="#">Deconnexion</a></li>
                        {% else %}
                        <li class="list"> <a href="#">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
    </header>
{% block content %}

    <section class="sections home text-center">
        <div class="overlay">
            <div class="home-content">
                <div class="container">
                    <h3 class="home-title">Bonjour et bienvenue</h3>
                    <p class="lead home-dec">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Sit aut veritatis reiciendis vel necessitatibus deleniti inventore eius asperiores quae ullam temporibus 
                        voluptates similique iusto incidunt omnis, libero corporis mollitia ducimus.</p>
                        <button class="btn button">Commençez maintenant</button>
                        <button class="btn button">A propos</button>
                </div>
            </div>
        </div>
        
    </section>
    <blockquote class="blockquote">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    

    <script src="{% static '/js/jqery-3.5.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    {% endblock %}
</body>
</html>