<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/style1.css' %}">   
    <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/3f99847030.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Page de Garde{% endblock %}</title>
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                         
               </i> 
                <div class="col-md-3 col-xs-12">
                    <div class="logo">
                        <a href="{% url 'core:intro' %}">
                            <h2>PHarM<span>App</span></h2>
                        </a>
                        
                    </div>
                </div>
                <nav class="col-md-9 col-xs-12">
                    <ul class="nav-list">
                        <li class="list"> <a href="{% url 'sys_inventaire:index' %}">Gestion Inventaire</a> </li>
                        <li class="list"> <a href="#">Gestion Vente</a></li>
                        <li class="list"> <a href="#">Contact</a></li>
                        {% if user.username %}
                        <li class="list"> <a href="#">Hi, {{request.user.username}}</a></li>
                        <li class="list"> <a href="{% url 'core:deconnexion' %}">Deconnexion</a></li>
                        {% else %}
                        <li class="list"> <a href="{% url 'core:connexion' %}">Se connecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
    </header>
{% block content %}
    <!--  section -->
    <section class="sections home text-center">
        <div class="overlay">
            <div class="home-content">
                <div class="container">
                    <h3 class="home-title">Bonjour et bienvenue</h3>
                    <p class="lead home-dec">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Sit aut veritatis reiciendis vel necessitatibus deleniti inventore eius asperiores quae ullam temporibus 
                        voluptates similique iusto incidunt omnis, libero corporis mollitia ducimus.</p>
                        <button class="btn button">Commençez maintenant</button>
                        <button class="btn button">A propos</button>
                </div>
            </div>
        </div>
        
    </section>
    {% endblock %}
    <!-- Footer -->
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <a href="">
                    <h1 class="logo-text"> <span>PHarM</span>App</h1>
                </a>
                <p>  cumque providento qui quia doloremque
                     </p>
                <div class="contact">
                <span><i class="fas fa-phone"></i>&nbsp; 78218838</span>
                <span><i class="fas fa-envelope"></i>&nbsp; dgcdorgeles@outlook.fr</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            </div>
            
            <div class="footer-section links">
               
                    <h2>Liens rapides</h2>
                <ul>
                    <a href="#">Evenements</a>
                    <a href="{% url 'core:enregistrement' %}">Enregistrez vous</a>
                    <a href="{% url 'core:connexion' %}">Connexion</a>
                    <a href="#">Termes et conditions </a>
                </ul>
              
                
            </div>
            <div class="footer-section contact">
                <center>
                    <h2>Contactez nous</h2>
                <br>
                <form action="" name="email">
                    <input type="email" name="email" class="text-input contact-input" placeholder="Votre adresse email">
                     <textarea name="message" class="tex-input contact-input" placeholder="Votre message"></textarea>
                     <button type="submit" class="btn btn-big">
                         <i class="fas fa-envelope"></i> Envoyer</button>
                </form>
                </center>
                
            </div>
        </div>
        <div class="footer-bottom">
            &copy; Pharmabonon | Designed by Dje Bi Gauley 
        </div>
        </div>
    
    <script src="{% static '/js/jqery-3.5.1.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
    
</body>
</html>