<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/css/style-inventaire.css' %}">
  <script src="https://kit.fontawesome.com/3f99847030.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventaire</title>
</head>
<body>
<div class="wrapper">
  <div class="sidebar">
    <h2>PHarM<span>App</span></h2>
    <ul>
      <li><a href="#"><i class="fa fa-address-card" aria-hidden="true"></i> Gestion</a></li>
      <li><a href="#"><i class="fa fa-phone-square" aria-hidden="true"></i>Contact</a></li>
      <li><a href="#"><i class="fa fa-id-badge" aria-hidden="true"></i>Profil</a></li>
      <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Vente</a></li>
    </ul>
    <div class="social_media">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
  <div class="main_content">
    {% block content %}
    <div class="header">Bienvenue !!</div>
    <div class="button-group">
  <a href="{% url 'sys_inventaire:medicament' %}" class="btn btn-primary btn-md" role="button">Medicaments</a>
  <a href="{% url 'sys_inventaire:ajouter_medicament' %}" class="btn btn-warning btn-sm" role="button"> + </a>
  <a href="{% url 'sys_inventaire:paraphamacies' %}" class="btn btn-primary btn-md" role="button">Parapharmacies</a>
  <a href="{% url 'sys_inventaire:ajouter_parapharmacie' %}" class="btn btn-warning btn-sm" role="button"> + </a>
  <a href="{% url 'sys_inventaire:pti_materiel' %}" class="btn btn-primary btn-md" role="button">Petits materiels</a>
  <a href="{% url 'sys_inventaire:ajouter_petit_materiel' %}" class="btn btn-warning btn-sm" role="button"> + </a>
  <a href="{% url 'sys_inventaire:dietetiques' %}" class="btn btn-primary btn-md" role="button">Diététiques</a>
  <a href="{% url 'sys_inventaire:ajouter_dietetique' %}" class="btn btn-warning btn-sm" role="button"> + </a>
</div><br>
{% if header %}
<center>
  <h4>Vous voyez actuellement Medicament </h4>
</center>
  
  <div class="table">
    <div class="table100 ver1 m-b-100">
        <table>
          <thead>
            <tr class="row">
                <th class="cell100 column2">#</th>
                <th class="cell100 column2">Spécialité</th>
                <th class="cell100 column3">D C I</th>
                <th class="cell100 column4">prix</th>
                <th class="cell100 column5">Quantité</th>
                <th class="cell100 column4">Options</th>
              </tr>
          </thead>
        </table>
    </div>
     
   
    
    <div class="table" >
      <div class="table100-body js-pscroll">
        <table>
          <tbody>
            {% for item in items %}
            <tr class="row">
              <td class="cell100 column2">{{ item.pk }}</td>
              <td class="cell100 column2">{{ item.specialite }}</td>
              <td class="cell100 column3">{{ item.dci }}</td>
              <td class="cell100 column4">{{ item.prix }}</td>
              <td class="cell100 column5">{{ item.quantite }}</td>
              <td>
                <a href="{% url 'sys_inventaire:modifier_medicament' item.pk %}" class="btn btn-warning btn-sm" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              </td>
              <td>
                <a href="{% url 'sys_inventaire:supprimer_medicament' item.pk %}" class="btn btn-warning btn-sm" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>
    
    </div>
  </div> 
                         
  {% else %}
  <center>
     <h4>Vous voyez actuellement {{ titre }} </h4>
  </center>
 
  <div class="table">
    <div class="table100 ver1 m-b-100">
      <table>
        <thead>
          <tr class="row">
            <th>#</th>
            <th class="cell100 column2">Spécialité</th>
            <th class="cell100 column3">prix</th>
            <th class="cell100 column4">Quantité</th>
            <th class="cell100 column5">Date péremption</th>
            <th class="cell100 column4">Options</th>
          </tr>
        </thead>
      </table>
    </div> 
  
  <div class="table" >
    <div class="table100-body js-pscroll" >
      <table>
      <tbody>
        {% for item in items %}
        <tr class="row">
          <td class="cell100 column2">{{ item.pk }}</td>
          <td class="cell100 column2">{{ item.nom_article }}</td>
          <td class="cell100 column3">{{ item.prix }}</td>
          <td class="cell100 column4">{{ item.quantite }}</td>
          <td class="cell100 column5">{{ item.date_peremption }}</td>
          {% if titre|lower == "parapharmacie" %}
          <td>
            <a href="{% url 'sys_inventaire:modifier_parapharmacie' item.pk %}" class="btn btn-warning " role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
          <td>
            <a href="{% url 'sys_inventaire:supprimer_parapharmatie' item.pk %}" class="btn btn-warning " role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </td>
          {% elif titre|lower == "petit matériel" %}
          <td>
            <a href="{% url 'sys_inventaire:modifier_petit_materiel' item.pk %}" class="btn btn-warning btn-sm" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
          <td>
            <a href="{% url 'sys_inventaire:supprimer_petit_matériel' item.pk %}" class="btn btn-warning btn-sm" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </td>
          {% else %}
          <td>
            <a href="{% url 'sys_inventaire:modifier_dietetique' item.pk %}" class="btn btn-warning btn-sm" role="button"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
          <td>
            <a href="{% url 'sys_inventaire:supprimer_dietetique' item.pk %}" class="btn btn-warning btn-sm" role="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>    
  </div>
</div> 

{% endif %}

  </div>
</div>
<div>
  <br>
  {% endblock %}    

</body>
</html>
